# Port number

NODE_ENV=development
PORT=8085

# MYSQL

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gobox
DB_USERNAME=root
DB_PASSWORD=Password@1

#Password

WISHLIST = '1234567890'
LENGTH = 6

# JWT

# JWT secret key

JWT_SECRET=a18ZzdHWRx

# Number of minutes after which an access token expires

JWT_ACCESS_EXPIRATION_MINUTES=60

# Number of days after which a refresh token expires

JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires

JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires

JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# AWS s3 config

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_S3_BUCKET=
AWS_ROLE_ARN=
AWS_ARN=

# SMTP configuration options for the email service

# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create

SMTP_HOST=
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=

#Twilio

SID=
AUTH_TOKEN=
MOBILE_NUMBER=

# ROUTEEXPIRY
COMPLETE_ROUTE_EXPIRATION=30

#EXPIRYROUTE
SET_EXPIRY_DATE=30
